{% extends 'layout/content.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/summernote/summernote-bs4.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{asset('assets/plugins/kartik-v/bootstrap-fileinput/css/fileinput.min.css')}}">
{% endblock %}
{% macro Content(form) %}
    <div class="col-sm-12 cmsArticleContent">
        <div class="row mt-3">
            <div class="col-sm-12">
                {{ form_row(form.articleContent) }}
            </div>
        </div>
        <div class="row contentimage">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(form.mediaType) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(form.articleContentImage) }}
                    </div>
                    {% if form.vars.data is not empty %}
                        <div class="col-sm-4">
                            <img src="{{ form.vars.data.articleContentImagePath|imagine_filter('resize_image_150') }}" alt="{{ form.vars.data.articleContentImageSetName }}">
                        </div>
                    {% endif %}
                        <div class="col-sm-4">
                            {{ form_row(form.removeContentImage) }}
                        </div>

                </div>
                <div class="row mt-4">
                    <div class="col-sm-4">
                        {{ form_row(form.articleContentImageSetName) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.articleContentImageTitle) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.articleContentImageAlt) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(form.articleContentVideo) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.articleContentVideoPath) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 removebutton mb-4"> <br>
            <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Remove Content Block</button>
        </div>
    </div>
{% endmacro %}
{% import _self as formMacro %}
{% block cms_content %}
    {% set back_to_list = app.request.server.get('HTTP_REFERER') %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                {% if mode == 'add' %}<i class="fa fa-plus"></i> {% else%} <i class="fa fa-edit"></i> {% endif%}  <b>{{label_title|trans|upper}}</b>
            </h5>
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.appUser) }}
                </div>
                <div class="col-sm-4" id="articleTitle">
                    {{ form_row(form.articleTitle) }}
                </div>
            </div>
            <div class="card-header mt-2">
                <h3 class="card-title">{{ 'Intro Section'|upper }}</h3>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    {{ form_row(form.articleIntro) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.introMediaType) }}
                </div>
            </div>
            <div id="introimage">
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(form.articleIntroImage) }}
                    </div>
                    {% if cms_article.articleIntroImage is not empty %}
                    <div class="col-sm-4">
                        <img src="{{ cms_article.articleIntroImagePath|imagine_filter('resize_image_200') }}" alt="{{ cms_article.articleIntroImageSetName }}">
                    </div>
                    {% endif %}
                        <div class="col-sm-4">
                            {{ form_row(form.removeIntroImage) }}
                        </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-4">
                        {{ form_row(form.articleIntroImageSetName) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.articleIntroImageTitle) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.articleIntroImageAlt) }}
                    </div>
                </div>
            </div>
            <div class="row introvideo">
                <div class="col-sm-4">
                    {{ form_row(form.articleIntroVideo) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.articleIntroVideoPath) }}
                </div>
            </div>
            <div class="card-header mt-2">
                <h3 class="card-title">{{ 'Content Section'|upper }}</h3>
            </div>
            <div class="row" data-prototype="{{ formMacro.Content(form.cmsArticleContent.vars.prototype)|e('html_attr') }}">
                <div class="col" id="articleContent" >
                    {% for row in form.cmsArticleContent %}
                        {{ formMacro.Content(row) }}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <button type="button" id="addContent" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> Add Content Block</button>
                </div>
            </div>
            <div class="card-header mt-2">
                <h3 class="card-title">{{ 'SEO Section'|upper }}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(form.metaTitle) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.metaKeyword) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.metaDescription) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(form.focusKeyPhrase) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.keyPhraseSynonyms) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.articleCanonicalUrl) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.seoSchema) }}
                    </div>
                </div>
            </div>
            <div class="card-header mt-2">
                <h3 class="card-title">{{ 'Social Share Section'|upper }}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(form.ogTitle) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.ogDescription) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.ogType) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(form.ogImage) }}
                    </div>
                    {% if cms_article.ogImage is not empty %}
                        <div class="col-sm-4">
                            <img src="{{ cms_article.ogImagePath|imagine_filter('resize_image_200') }}" alt="{{ cms_article.ogImage }}">
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-4">
                    {{ form_row(form.isActive) }}
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="{{ button_css|default("btn btn-dark btn-sm") }}">
            <i class="fa fa-save" aria-hidden="true"></i> {{ label_button|trans }}
        </button>
        <a href="{{ back_to_list }}" class="btn btn-link"><i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}</a>
    </div>
    {{ form_end(form) }}
    <br>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/plugins/kartik-v/bootstrap-fileinput/js/fileinput.min.js')}}"></script>
    <script src="{{asset('assets/plugins/kartik-v/bootstrap-fileinput/themes/fa/theme.min.js')}}"></script>
    <script src="{{ asset('assets/plugins/summernote/summernote-bs4.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var $collectionHolder;
        var $pageURL = $(location).attr("href");

        $("document").ready(function() {

            $('label[for=cms_article_ogImage]').remove();
            $("#cms_article_ogImage").fileinput({
                theme: "fa",
                overwriteInitial: true,
                maxFileSize: 3000,
                showClose: false,
                showCaption: false,
                showBrowse: false,
                browseOnZoneClick: true,
                removeLabel: '',
                defaultPreviewContent: '<h6 class="text-muted">Click to upload social share image</h6>',
                layoutTemplates: {main2: '{preview} {remove} {browse}'},
                allowedFileExtensions: ["jpg", "png"]
            });

            // Select2 for selectbox
            $('select').select2({
                theme: 'bootstrap4'
            })

            $(".textarea").summernote({
                height: 200,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link']],
                    ['view', ['fullscreen', 'codeview', 'help']],
                ]
            });

            $("#cms_article_articleIntroImage,.custom-file-input").fileinput({
                theme: "fa",
                overwriteInitial: true,
                maxFileSize: 800,
                showClose: false,
                showCaption: false,
                showBrowse: false,
                browseOnZoneClick: true,
                removeLabel: '',
                defaultPreviewContent: '<h6 class="text-muted">Click to upload content block image</h6>',
                layoutTemplates: {main2: '{preview} {remove} {browse}'},
                allowedFileExtensions: ["jpg","jpeg", "png"]
            });


            //$('label[for^=cms_article_cmsArticleContent]').remove();


            $collectionHolder = jQuery('#articleContent').parent();
            $collectionHolder.data('index', jQuery('#articleContent').find('.cmsArticleContent').length);

            jQuery(document).on('click', '.btn-danger', function (e) {
                jQuery(this).closest(".cmsArticleContent").remove();
            });
            jQuery("#addContent").on('click', function (e) {
                addRowContentForm($collectionHolder);
            });

            function addRowContentForm($collectionHolder) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');
                var newForm = prototype;
                newForm = newForm.replace(/__name__/g, index);
                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                jQuery("#articleContent").append(newForm)

                // First Content block mandatory
                $("#cms_article_cmsArticleContent_0_articleContent").prop('required', true);
                $('label[for=cms_article_cmsArticleContent_0_articleContent]').addClass('required').show();

                $("#cms_article_cmsArticleContent_"+index+"_articleContentImage").fileinput({
                    theme: "fa",
                    overwriteInitial: true,
                    maxFileSize: 800,
                    showClose: false,
                    showCaption: false,
                    showBrowse: false,
                    browseOnZoneClick: true,
                    removeLabel: '',
                    defaultPreviewContent: '<h6 class="text-muted">Click to upload content block image</h6>',
                    layoutTemplates: {main2: '{preview} {remove} {browse}'},
                    allowedFileExtensions: ["jpg","jpeg", "png"]
                });

                // Content Image Upload
                $('label[for=cms_article_cmsArticleContent_'+index+'_articleContentImage]').remove();

                $("#cms_article_cmsArticleContent_"+index+"_articleContentImage").on('fileselect', function(event, numFiles, label) {
                    $("#cms_article_cmsArticleContent_"+index+"_articleContentImageSetName").prop('required', true);
                    $('label[for=cms_article_cmsArticleContent_'+index+'_articleContentImageSetName]').addClass('required');
                    $("#cms_article_cmsArticleContent_"+index+"_articleContentImageAlt").prop('required', true);
                    $('label[for=cms_article_cmsArticleContent_'+index+'_articleContentImageAlt]').addClass('required');
                    $("#cms_article_cmsArticleContent_"+index+"_articleContentImageTitle").prop('required', true);
                    $('label[for=cms_article_cmsArticleContent_'+index+'_articleContentImageTitle]').addClass('required');
                });

                $("#cms_article_cmsArticleContent_"+index+"_articleContentImage").on('fileclear', function(event) {
                    $("#cms_article_cmsArticleContent_"+index+"_articleContentImageSetName").prop('required', false);
                    $('label[for=cms_article_cmsArticleContent_'+index+'_articleContentImageSetName]').removeClass('required');
                    $("#cms_article_cmsArticleContent_"+index+"_articleContentImageAlt").prop('required', false);
                    $('label[for=cms_article_cmsArticleContent_'+index+'_articleContentImageAlt]').removeClass('required');
                    $("#cms_article_cmsArticleContent_"+index+"_articleContentImageTitle").prop('required', false);
                    $('label[for=cms_article_cmsArticleContent_'+index+'_articleContentImageTitle]').removeClass('required');
                });

                // Copy the intro text to alt and title
                $("#cms_article_cmsArticleContent_"+index+"_articleContentImageSetName").keyup(function(){
                    var Text = $(this).val();
                    $("#cms_article_cmsArticleContent_"+index+"_articleContentImageAlt").val(Text);
                    $("#cms_article_cmsArticleContent_"+index+"_articleContentImageTitle").val(Text);
                });
                $("#cms_article_cmsArticleContent_"+index+"_articleContent").summernote({
                    height: 200,
                    toolbar: [
                        // [groupName, [list of button]]
                        ['style', ['bold', 'italic', 'underline']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['table', ['table']],
                        ['insert', ['link']],
                        ['view', ['fullscreen', 'codeview', 'help']],
                    ]
                });

                $("#cms_article_cmsArticleContent_"+index+"_mediaType").select2({theme: 'bootstrap4'});
            }


            // Intro Media Section
            $('label[for=cms_article_articleIntroImage]').remove();

            // The main content bloc is required
            $('label[for=cms_article_cmsArticleContent_0_articleContent]').addClass('required');
            $("#cms_article_cmsArticleContent_0_articleContent").prop('required', true);

            $('#cms_article_introMediaType').on('change', function() {
                var mediatype = $(this).val();
                if (mediatype === 'image') {
                    $("#cms_article_articleIntroImage").prop('required', true);
                    $('label[for=cms_article_articleIntroImage]').addClass('required');
                    $("#cms_article_articleIntroImageSetName").prop('required', true);
                    $('label[for=cms_article_articleIntroImageSetName]').addClass('required');
                    $("#cms_article_articleIntroImageAlt").prop('required', true);
                    $('label[for=cms_article_articleIntroImageAlt]').addClass('required');
                    $("#cms_article_articleIntroImageTitle").prop('required', true);
                    $('label[for=cms_article_articleIntroImageTitle]').addClass('required');
                    // $(".introimage").show();
                    $("#cms_article_articleIntroVideo").prop('required', false);
                    $('label[for=cms_article_articleIntroVideo]').removeClass('required');
                    $("#cms_article_articleIntroVideoPath").prop('required', false);
                    $('label[for=cms_article_articleIntroVideoPath]').removeClass('required');
                    // $(".introvideo").hide();

                }
                if (mediatype === 'video') {
                    $("#cms_article_articleIntroImage").prop('required', false);
                    $('label[for=cms_articleIntroImage]').removeClass('required');
                    $("#cms_article_articleIntroImageSetName").prop('required', false);
                    $('label[for=cms_article_articleIntroImageSetName]').removeClass('required');
                    $("#cms_article_articleIntroImageAlt").prop('required', false);
                    $('label[for=cms_article_articleIntroImageAlt]').removeClass('required');
                    $("#cms_article_articleIntroImageTitle").prop('required', false);
                    $('label[for=cms_article_articleIntroImageTitle]').removeClass('required');
                    // $(".introimage").hide();
                    $("#cms_article_articleIntroVideo").prop('required', true);
                    $('label[for=cms_article_articleIntroVideo]').addClass('required');
                    $("#cms_article_articleIntroVideoPath").prop('required', true);
                    $('label[for=cms_article_articleIntroVideoPath]').addClass('required');
                    // $(".introvideo").show();

                }
            });

            // Copy the intro text to alt and title
            $("#cms_article_articleIntroImageSetName").keyup(function(){
                var Text = $(this).val();
                $("#cms_article_articleIntroImageAlt").val(Text);
                $("#cms_article_articleIntroImageTitle").val(Text);
            });

            if ($pageURL.search(/add/i) > 0) {
                jQuery("#addContent").trigger("click");
                $('.removebutton').hide();
                $("#removeIntroImage").hide();
            }
            for(i=0;i<jQuery('#articleContent').find('.cmsArticleContent').length;i++){
                $('label[for=cms_article_cmsArticleContent_'+i+'_articleContentImage]').remove();
            }
        });
    </script>
{% endblock %}



