{% extends 'layout/content.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"  href="{{ asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}" media="all" type="text/css" />
    <link rel="stylesheet"  href="{{ asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}" media="all" type="text/css" />
{% endblock %}
{% block cms_content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><a href="{{ path(path_add) }}" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> {{label_title|trans}}</a></h4>
            </div>
            <nav class="card-content collapse show">
                <div class="card-body card-dashboard ">
                    <table id="dataTable" class="table table-responsive-md table-sm text-sm">
                        <thead>
                        <tr>
                            <th>{{ 'label.faq'|trans|upper }}</th>
                            <th>{{'label.product'|trans|upper}}</th>
                            <th>{{ 'label.is_active'|trans|upper }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for cmsfaq in cmsfaqs %}
                        <tr>
                            <td>{{ cmsfaq.faq }}</td>
                            <td>{{ cmsfaq.prdProduct }}</td>
                            <td>{{ cmsfaq.isActive ? 'Yes' : 'No' }}</td>
                            <td>
                                <div class="btn-group-toggle" role="group" aria-label="Action Buttons">
                                    <a href="{{ path(path_show, {'id': cmsfaq.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-expand"></i></button></a>
                                    <a href="{{ path(path_edit, {'id': cmsfaq.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i></button></a>&nbsp;
                                    <a href="{{ path(path_faq_detail, {'faq_id': cmsfaq.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fas fa-question"></i></button></a>&nbsp;

                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">{{'info.no_record_found'|trans}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="text-muted"><span class="domrecord"></span></div>
                        </div>
                        <div class="col-sm-7">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="dompage"></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
{% endblock %}