{% extends 'base.html.twig' %}
{% block title %} {{ 'title.app'|trans }} - {{ 'title.login'|trans }} {% endblock %}
{% block stylesheets %}
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
{% endblock %}
{% block body %}
<body class="hold-transition login-page">
<!-- MAIN_CONTENT starts -->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col cust-col">
                <div class="login-box">
                    {% if messages|length > 0 %}
                        <br>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ messages.0}}
                        </div>
                    {% else %}
                        <h4>{{ label_message|trans }}</h4>
                        <br>
                        {{ form_start(form, {'attr': {'id': 'resetpassword_form'}}) }}
                        {{ form_widget(form) }}
                        <div class="input-group">
                            <button type="submit" class="btn btn-primary btn-blue"> {{ label_button|trans }} </button>
                        </div>
                        {{ form_end(form) }}
                        <br>
                    {% endif %}
                    <p class="mb-1">
                        <a href="{{ path('login') }}" class="btn btn-link">Back to login</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- /.login-box -->
    </div>
</div>
<footer>
    <span class="text-sm-center">Copyright &copy; {{ 'now'|date('Y') }} | {{'title.app'|trans}}</span>
</footer>
{% endblock %}
