{% extends 'layout/content.html.twig' %}

{% block cms_content %}
    <div class="card card-primary">
        <div class="card-header">
            <h4 class="card-title float-right">
                <a href="{{ path('cms_page_edit', {'id': data.id}) }}" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i> {{'label.edit'|trans}}</a>
                <a href="{{ path('cms_page_index') }}" class="btn btn-dark btn-sm"><i class="fa fa-list"></i> {{'label.back_to_list' | trans}}</a>
                &nbsp;

            </h4>
        </div>
    </div>
    <table class="table table-bordered table-responsive-md table-striped table-sm text-sm">
        <tbody>
            <tr>
                <th>{{ 'label.id' | trans }}</th>
                <td>{{ data.id }}</td>
            </tr>
            <tr>
                <th>{{ 'label.cmspressroom.date' | trans }}</th>
                <td>{{ data.articleDateTime ? data.articleDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'label.cmspressroom.heading' | trans }}</th>
                <td>{{ data.articleHeading }}</td>
            </tr>
            <tr>
                <th>{{ 'label.cmspressroom.content' | trans }}</th>
                <td>{{ data.articleContent | raw }}</td>
            </tr>
            <tr>
                <th>{{ 'label.is_active' | trans }}</th>
                <td>{{ data.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
