{% extends 'layout/content.html.twig' %}
{% block cms_content %}
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><a href="{{ path(path_add) }}" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> {{label_title|trans}}</a></h4>
                </div>
                <nav class="card-content collapse show">
                    <div class="card-body card-dashboard ">
                        <table id="dataTable" class="table table-responsive-md table-sm text-sm">
                            <thead>
                            <tr>
                                <th>{{ 'label.subcategory'|trans }}</th>
                                <th>{{ 'label.category'|trans }}</th>
                                <th>{{ 'label.seq_no'|trans }}</th>
                                <th>{{ 'label.is_active'|trans }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for mst_media_category in mst_media_categories %}
                                <tr>
                                    <td>{{ mst_media_category.mediaSubCategory }}</td>
                                    <td>{{ mst_media_category.mediaCategory }}</td>
                                    <td>{{ mst_media_category.sequenceNo }}</td>
                                    <td>{{ mst_media_category.isActive ? 'Yes' : 'No' }}</td>
                                    <td>
                                        <div class="btn-group-toggle" role="group" aria-label="Action Buttons">
                                            <a href="{{ path(path_edit, {'id': mst_media_category.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i></button></a>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">{{'info.no_record_found'|trans}}</td>
                                </tr>
                            {% endfor %}
                            </tbody></table>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="text-muted">{{ 'info.total_records'|trans }} {{ mst_media_categories.getTotalItemCount }}</div>
                            </div>
                            <div class="col-sm-7">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        {{ knp_pagination_render(mst_media_categories) }}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}