{% extends 'layout/content.html.twig' %}
{% macro vendorPartnerOfficeLandLines(form) %}
    <div class="col-sm-12 TrnVendorPartnerOfficeLandLine">
        <div class="row mt-3">
            <div class="col-sm-1">
                {{ form_row(form.mstDepartment) }}
            </div>
            <div class="col-sm-2">
                {{ form_row(form.contactNoCountryCode) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.contactNoCityCode) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.contactNo) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="col-sm-4 removebutton mb-4"> <br>
            <button type="button" class="btn btn-danger btn-sm"><i class="fa
            fa-trash"></i> Remove Content
                Block</button>
        </div>
    </div>
{% endmacro %}

{% import _self as formMacro %}


{% block cms_content %}
    {% set back_to_list = app.request.server.get('HTTP_REFERER') %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                {% if mode == 'add' %}<i class="fa fa-plus"></i> {% else%} <i class="fa fa-edit"></i> {% endif%}  <b>{{label_title|trans|upper}}</b>
            </h5>
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.trnVendorPartnerDetails) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.officeName) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.mstOfficeCategory) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.mstCountry) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.mstState) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.mstCity) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.mstAreaInCity) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.address1) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.address2) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.pincode) }}
                </div>
            </div>
            <div class="card-header mt-2 row">
                <div class="col-sm-3"><h3 class="card-title">{{ 'Landline Number / Email ID'|upper }}</h3></div>
                <div class="col-sm-3">
                    <button type="button" id="addcircleEventSubEvents" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> Add Content Block</button>
                </div>
            </div>

            <div class="row" data-prototype="{{ formMacro.vendorPartnerOfficeLandLines(form.trnVendorPartnerOfficeLandLines
                .vars.prototype)|e('html_attr') }}">
                <div class="col" id="vendorPartnerOfficeLandLines" >
                    {% for row in form.trnVendorPartnerOfficeLandLines %}
                        {{ formMacro.vendorPartnerOfficeLandLines(row) }}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <b>{{ 'label.mobile' | trans }}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.mobileNoCountryCode) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.mobileNumber) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <b>{{ 'label.fax' | trans }}</b>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    {{ form_row(form.faxNoCountryCode) }}
                </div>
                <div class="col-sm-2">
                    {{ form_row(form.faxNoCityCode) }}
                </div>
                <div class="col-sm-2">
                    {{ form_row(form.faxNumber) }}
                </div>
            </div>
            <div class="card-header mt-2">
                <h3 class="card-title">{{ 'Working Days / Hours'|upper }}</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.mstDaysOfWeek) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.workingTimeFrom) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.workingTimeTo) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" >
                    {{ form_row(form.isActive) }}
                </div>
            </div>

        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="{{ button_css|default("btn btn-dark btn-sm") }}">
            <i class="fa fa-save" aria-hidden="true"></i> {{ label_button|trans }}
        </button>
        <a href="{{ back_to_list }}" class="btn btn-link"><i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}</a>
    </div>
    {{ form_end(form) }}
    <br>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/summernote/summernote-bs4.css') }}" media="all" rel="stylesheet" type="text/css" />
    <script src="{{ asset('assets/plugins/summernote/summernote-bs4.min.js') }}" type="text/javascript"></script>
    <script>
        $(function (){
            jQuery(document).on('change', ".mstcountry", function(e) {
                var data = {};
                data['q'] = jQuery(this).val();
                var oThis = this;
                jQuery.ajax({
                    url: "/core/location/state_list",
                    data: data,
                    type: "GET",
                    dataType: "JSON",
                    success: function (data) {
                        var product = jQuery("#trn_vendor_partner_offices_mstState");
                        product.html('');
                        // add options
                        product.append('<option value="" >Select State..</option>');
                        $.each(data, function (id, name) {
                            product.append('<option value="'+ name.id +'">'+ name.name + '</option>');
                        });
                    }
                });
            });

            jQuery(document).on('change', ".mststate", function(e) {
                var data = {};
                data['q'] = jQuery(this).val();
                var oThis = this;
                jQuery.ajax({
                    url: "/core/location/city_list",
                    data: data,
                    type: "GET",
                    dataType: "JSON",
                    success: function (data) {
                        var product = jQuery("#trn_vendor_partner_offices_mstCity");
                        product.html('');
                        // add options
                        product.append('<option value="" >Select City..</option>');
                        $.each(data, function (id, name) {
                            product.append('<option value="'+ name.id +'">'+ name.name + '</option>');
                        });
                    }
                });
            });

            jQuery(document).on('change', ".mstcity", function(e) {
                var data = {};
                data['q'] = jQuery(this).val();
                var oThis = this;
                jQuery.ajax({
                    url: "/core/location/area_in_city_list",
                    data: data,
                    type: "GET",
                    dataType: "JSON",
                    success: function (data) {
                        var product = jQuery("#trn_vendor_partner_offices_mstAreaInCity");
                        product.html('');
                        // add options
                        product.append('<option value="" >Select Area in City..</option>');
                        $.each(data, function (id, name) {
                            product.append('<option value="'+ name.id +'">'+ name.name + '</option>');
                        });
                    }
                });
            });



            //Volunteer Circle Event Sub Events
            $vendorPartnerOfficeLandLines = jQuery('#vendorPartnerOfficeLandLines').parent();
            $vendorPartnerOfficeLandLines.data('index', jQuery('#vendorPartnerOfficeLandLines').find('.TrnVendorPartnerOfficeLandLine').length);

            jQuery("#addcircleEventSubEvents").on('click', function (e) {
                addRowContentFormSubEvent($vendorPartnerOfficeLandLines);
            });

            function addRowContentFormSubEvent($vendorPartnerOfficeLandLines) {
                // Get the data-prototype explained earlier
                var prototype = $vendorPartnerOfficeLandLines.data('prototype');

                // get the new index
                var index = $vendorPartnerOfficeLandLines.data('index');
                var newForm = prototype;
                newForm = newForm.replace(/__name__/g, index);
                // increase the index with one for the next item
                $vendorPartnerOfficeLandLines.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                jQuery("#vendorPartnerOfficeLandLines").append(newForm)


            }
            //Volunteer Circle Event Sub Events Ends
            jQuery(document).on('click', '.btn-danger', function (e) {
                jQuery(this).parent().parent().remove()
            });

        });

    </script>
{% endblock %}