{% extends 'layout/content.html.twig' %}
{% block cms_content %}
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><a href="{{ path(path_add) }}" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> {{label_title|trans}}</a></h4>
                </div>
                <nav class="card-content collapse show">
                    <div class="card-body card-dashboard ">
                        <table id="dataTable" class="table table-responsive-md table-sm text-sm">
                            <thead>
                            <tr>
                                <th>{{ 'label.id'|trans|upper }}</th>
                                <th>{{ 'label.vendor_partner_created_date'|trans|upper }}</th>
                                <th>{{ 'label.company_name'|trans|upper }}</th>
                                <th>{{ 'label.vendor_partner_name'|trans|upper }}</th>
                                <th>{{ 'label.vendor_type'|trans|upper }}</th>
                                <th>{{ 'label.product_type'|trans|upper }}</th>
                                <th>{{ 'label.product_subtype'|trans|upper }}</th>
                                <th>{{ 'label.nature_of_business'|trans|upper }}</th>
                                <th>{{ 'label.is_active'|trans|upper }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for vendorPartner in vendorPartnerDetails %}
                                <tr>
                                    <td>{{ vendorPartner.id }}</td>
                                    <td>{{ vendorPartner.createdOn | date('d M Y') }}</td>
                                    <td>{{ vendorPartner.orgCompany.company }}</td>
                                    <td>{{ vendorPartner.vendorPartnerName }}</td>
                                    <td>{{ vendorPartner.mstVendorType }}</td>
                                    <td> {{ vendorPartner.mstProductType | join(',') }}</td>
                                    <td> {{ vendorPartner.mstProductSubType | join(',') }}</td>
                                    <td> {{ vendorPartner.mstNatureOfBusiness | join(',') }}</td>
                                    <td>{{ vendorPartner.isActive ? 'Yes' : 'No' }}</td>
                                    <td>
                                        <div class="btn-group-toggle" role="group" aria-label="Action Buttons">
                                            <a href="{{ path(path_show, {'id': vendorPartner.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-expand"></i></button></a>&nbsp;
                                            <a href="{{ path(path_edit, {'id': vendorPartner.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i></button></a>
                                            <a href="{{ path('partner_office_index', {'vendor_partner_id': vendorPartner.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-building"></i></button></a>
                                            <a href="{{ path('partner_user_index', {'vendor_partner_id': vendorPartner.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-users"></i></button></a>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="10">{{'info.no_record_found'|trans}}</td>
                                </tr>
                            {% endfor %}
                            </tbody></table>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
