{% extends 'layout/content.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block cms_content %}
    {% set back_to_list = app.request.server.get('HTTP_REFERER') %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                {% if mode == 'add' %}<i class="fa fa-plus"></i> {% else%} <i class="fa fa-edit"></i> {% endif%}  <b>{{label_title|trans|upper}}</b>
            </h5>
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.mstCountry) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.mstState) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.city) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.latitude) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.longitude) }}
                </div>
            </div>
        </div>
    </div>
        <div class="card-footer">
            <button type="submit" class="{{ button_css|default("btn btn-dark btn-sm") }}">
                <i class="fa fa-save" aria-hidden="true"></i> {{ label_button|trans }}
            </button>
            <a href="{{ back_to_list }}" class="btn btn-link"><i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}</a>
        </div>
        {{ form_end(form) }}
<br>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/master/mst_city/index.js') }}"></script>
{% endblock %}
