{% extends 'layout/content.html.twig' %}
{% block cms_content %}
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col">
            <div class="card">
                <nav class="card-content collapse show">
                    <div class="card-body card-dashboard ">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="number" id="pincode" name="pincode" placeholder="Type pincode" required="required" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="hidden" id="pincodeId" value="{% if search %}{{ search.pincodeId }}{% endif %}" >
                                    <select id="mstPincode" name="mstPincode" required="required" class="form-control">
                                        <option value="" selected="selected">Select pincode wise area</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" id="projectName" placeholder="Project Name" name="projectName" value="{% if search %}{{ search.projectName }}{% endif %}" required="required" class="form-control">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-search searchbutton"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row propertylisting"><img src="{{ asset('assets/img/loading_lines.gif') }}" class="loading" alt="loading" style="display: none"></div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery("document").ready(function(){
            var pincodesearch = $('#pincode');
            var mstPincode = $('#mstPincode');
            var pincodeId = $('#pincodeId');
            var projectName = $('#projectName');
            var searchbutton = $('.searchbutton');
            projectName.attr('disabled', 'disabled');
            mstPincode.change(function () {
                if ($(this).val() !== '') {
                    projectName.removeAttr("disabled");
                } else {
                    projectName.attr('disabled', 'disabled');
                }
            });
            searchbutton.click(function(){
                propertylisting();
            })

            if (checkPincodeId()){
                propertylisting();
            }
            pincodesearch.keyup(function(){
                var data = {};
                data['pincode'] = pincodesearch.val();
                $('.loading').show();
                $.ajax({
                    url: '{{ path('pincode_list') }}',
                    type: 'GET',
                    data: data,
                    dataType: "json",
                    success: (function (formdata) {
                        $('.loading').hide();
                        mstPincode.html('');
                        // add options
                        mstPincode.append('<option value="" >Select pincode wise area</option>');
                        $.each(formdata, function (id, name) {
                            mstPincode.append('<option value="'+ name.id +'">'+ name.name + '</option>');
                        });
                    }),
                });
            });

            projectName.keyup(function(e) {
                if(e.keyCode === 13) {
                    pincodeId.val("");
                    propertylisting();
                }
            });
            function checkPincodeId(){
                return pincodeId.val() !="";
            }
            function propertylisting() {
                var data = {};

                if (checkPincodeId()){
                    data['mstPincode'] = pincodeId.val();
                    data['projectName'] = projectName.val();
                }else{
                    data['mstPincode'] = mstPincode.val();
                    data['projectName'] = projectName.val();
                }

                var propertylisting = $('.propertylisting');
                $('.loading').show();
                $.ajax({
                    url: '{{ path('product_properties_search') }}',
                    type: 'GET',
                    data: data,
                    dataType: "html",
                    success: (function (formdata) {
                        $('.loading').hide();
                        propertylisting.html(formdata);
                        propertylisting.show();
                    }),
                });
            }
        });


    </script>
{% endblock %}