{% extends 'layout/content.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"  href="{{ asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}" media="all" type="text/css" />
    <link rel="stylesheet"  href="{{ asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}" media="all" type="text/css" />
{% endblock %}
{% block cms_content %}

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><a href="{{ path(path_add) }}" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> {{label_title|trans}}</a></h4>
            </div>
            <nav class="card-content collapse show">
                <div class="card-body card-dashboard ">
                    <table id="dataTable" class="table table-responsive-md table-sm text-sm">
                        <thead>
                        <tr>
                            <th>{{ 'label.product_category'|trans|upper }}</th>
                            <th>{{ 'label.product_type'|trans|upper }}</th>
                            <th>{{ 'label.landing_page_banner_title'|trans|upper }}</th>
                            <th>{{ 'label.landing_page_hero_banner_image'|trans|upper }}</th>
                            <th>{{ 'label.is_active'|trans|upper }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for cms_landing_page in cms_landing_pages %}
                        <tr>
                            <td>{{ cms_landing_page.mstProductCategory }}</td>
                            <td>{{ cms_landing_page.mstProductType }}</td>
                            <td>{{ cms_landing_page.cmsLandingPageBannerTitle|raw }}</td>
                            <td><img src="{{ cms_landing_page.cmsLandingPageImagePath|imagine_filter('resize_image_200') }}" alt=".."></td>
                            <td>{{ cms_landing_page.isActive ? 'Yes' : 'No' }}</td>
                            <td>
                                <div class="btn-group-toggle" role="group" aria-label="Action Buttons">
                                    <a href="{{ path(path_show, {'id': cms_landing_page.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-expand"></i></button></a>
                                    <a href="{{ path(path_edit, {'id': cms_landing_page.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i></button></a>&nbsp;
                                    <a href="{{ path(path_banner, {'lp_page_id': cms_landing_page.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-photo-video"></i></button></a>&nbsp;
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">{{'info.no_record_found'|trans}}</td>
                        </tr>
                    {% endfor %}
                    </tbody></table>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="text-muted"><span class="domrecord"></span></div>
                        </div>
                        <div class="col-sm-7">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="dompage"></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
{% endblock %}
