{% if banners %}
<section class="banner-carousel slider-item">
    <div id="mainBanner" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for banner in banners %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <figure>
                    <img src="{{ asset('images/files') }}/{{ banner.bannerDesktopImage}}" class="desktop-purpose" alt="{{ banner.bannerName }}" title="{{ banner.bannerName }}">
                    <img src="{{ asset('images/files') }}/{{ banner.bannerTabletImage}}" class="tab-purpose" alt="{{ banner.bannerName }}" title="{{ banner.bannerName }}">
                    <img src="{{ asset('images/files') }}/{{ banner.bannerMobileImage}}" class="mobile-purpose" alt="{{ banner.bannerName }}" title="{{ banner.bannerName }}">
                    <figcaption class="caption">
                        <div class="container">
                            {{ banner.bannerDescription|raw }}
                        </div>
                    </figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
        {% if banners|length > 1 %}
            <a class="carousel-control-prev" href="#mainBanner" role="button" data-slide="prev"> <i class="fa fa-angle-left"></i> </a>
            <a class="carousel-control-next" href="#mainBanner" role="button" data-slide="next"> <i class="fa fa-angle-right"></i>
{#                <div class="num">1 / {{ banners|length }}</div>#}
            </a>
        {% endif %}
    </div>
</section>
{% endif %}