{% extends 'layout/content.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/summernote/summernote-bs4.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}
{% macro Content(form) %}
    <div class="cmsPageContent">
        <div class="row mt-3">
            <div class="col-sm-3">
                {{ form_row(form.cmsPageContentPosition) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.pageContent) }}
            </div>
            <div class="col-sm-1">
                {{ form_row(form.position) }}
            </div>
            <div class="col-sm-2">
                {{ form_row(form.isActive) }}
            </div>
        </div>
        <div class="col-sm-4 removebutton"> <br>
            <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Remove Content Block</button>
        </div>
    </div>
{% endmacro %}
{% import _self as formMacro %}
{% block cms_content %}
    {% set back_to_list = app.request.server.get('HTTP_REFERER') %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                {% if mode == 'add' %}<i class="fa fa-plus"></i> {% else%} <i class="fa fa-edit"></i> {% endif%}  <b>{{label_title|trans|upper}}</b>
            </h5>
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.productCategory) }}
                </div>
                <div class="col-sm-8">
                    {{ form_row(form.productCategoryDescription) }}
                </div>
            </div>
            <div class="card-header mt-2">
                <h3 class="card-title">{{ 'Content Section'|upper }}</h3>
            </div>
            <div class="row" data-prototype="{{ formMacro.Content(form.cmsPageContent.vars.prototype)|e('html_attr') }}">
                <div class="col" id="pageContent" >
                    {% for row in form.cmsPageContent %}
                        {{ formMacro.Content(row) }}
                    {% endfor %}
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-3">
                    <button type="button" class="btn btn-dark btn-sm addContent"><i class="fa fa-plus"></i> Add Content Block</button>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-4 mt-4">
                    {{ form_row(form.isActive) }}
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="{{ button_css|default("btn btn-dark btn-sm") }}">
            <i class="fa fa-save" aria-hidden="true"></i> {{ label_button|trans }}
        </button>
        <a href="{{ back_to_list }}" class="btn btn-link"><i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/summernote/summernote-bs4.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var $collectionHolder;
        var $pageURL = $(location).attr("href");
        jQuery("document").ready(function(){
            $collectionHolder = jQuery('#pageContent').parent();
            $collectionHolder.data('index', jQuery('#pageContent').find('.row').length);

            // Summernote
            $('.textarea').summernote({
                height: 200,
            });

            jQuery(document).on('click', '.btn-danger', function (e) {
                jQuery(this).closest(".cmsPageContent").remove();
            });

            jQuery(".addContent").on('click', function (e) {
                addRowContentForm($collectionHolder);
            });

            // if ($pageURL.search(/add/i) > 0 ) {
            //     $(".addContent").trigger("click");
            // }
            // jQuery('.removebutton:first').hide();

        });
        function addRowContentForm($collectionHolder) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');
            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            jQuery("#pageContent").append(newForm)
            // Select2 for selectbox
            $('select').select2({
                theme: 'bootstrap4'
            })
            $('.textarea').summernote();
        }
        function slugify(string) {
            return string
                .toString()
                .trim()
                .toLowerCase()
                .replace(/\s+/g, "-")
                .replace(/[^\w\-]+/g, "")
                .replace(/--+/g, "-")
                .replace(/^-+/, "")
                .replace(/-+$/, "");
        }
    </script>
{% endblock %}
