{% extends 'layout/content.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"  href="{{ asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}" media="all" type="text/css" />
    <link rel="stylesheet"  href="{{ asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}" media="all" type="text/css" />
{% endblock %}
{% block cms_content %}
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{label_title|trans}}</h4>
            </div>
            <nav class="card-content collapse show">
                <div class="card-body card-dashboard ">
                    <table id="dataTableFrmEnquiry" class="table table-responsive-md table-sm text-sm">
                        <thead>
                        <tr>
                            <th>{{ 'label.name'|trans|upper }}</th>
                            <th>{{ 'label.email'|trans|upper }}</th>
                            <th>{{ 'label.mobile'|trans|upper }}</th>
                            <th>{{ 'Create Date and Time'|trans|upper }}</th>
                            <th>{{ 'Date and Time'|trans|upper }}</th>
                            <th>{{ 'label.status'|trans|upper }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for form_enquiry in form_enquiries %}
                        <tr>
                            <td><a href="{{ path(path_show, {'id': form_enquiry.id}) }}">{{ form_enquiry.mstSalutation|default('') }} {{ form_enquiry.enquiryFirstName|default('') }} {{ form_enquiry.enquiryMiddleName|default('') }} {{ form_enquiry.enquiryLastName|default('') }}</a></td>
                            <td><a href="mailto:{{ form_enquiry.enquiryEmailAddress }}">{{ form_enquiry.enquiryEmailAddress}}</a></td>
                            <td>{{ form_enquiry.enquiryMobileNumber }}</td>
                            <td>{{ form_enquiry.enquiryCreateTime|date('d M Y') }} {{ form_enquiry.enquiryCreateTime|date('H:i') }}</td>
                            <td>{{ form_enquiry.enquiryCreateTime|date('YmdHi') }}</td>
                            <td>{{ form_enquiry.mstLeadStatus }}</td>
                            <td>
                                <div class="btn-group-toggle" role="group" aria-label="Action Buttons">
                                    <a href="{{ path(path_show, {'id': form_enquiry.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-expand"></i></button></a>&nbsp;
                                    <a href="{{ path(path_edit, {'id': form_enquiry.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i></button></a>&nbsp;
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">{{'info.no_record_found'|trans}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="text-muted"><span class="domrecord"></span></div>
                        </div>
                        <div class="col-sm-7">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="dompage"></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            if ($('#dataTableFrmEnquiry').length > 0) {
                $('#dataTableFrmEnquiry').DataTable({
                    "buttons": ["csv", "excel"],
                    "paging": true,
                    "lengthChange": true,
                    "ordering": true,
                    "order": [[ 5, "desc" ]],
                    "columnDefs": [
                        {
                            "targets": [ 5 ],
                            "visible": false,
                            "searchable": false
                        },
                    ],
                    "info": true,
                    "autoWidth": true,
                    "oLanguage": {
                        "sSearch": "Search:",
                        "sInfo": "Total records(s): _TOTAL_"

                    },
                    "language": {
                        "paginate": {
                            "previous": "&laquo;&nbsp;Previous",
                            "next": "Next&nbsp;&raquo;"
                        }
                    },
                });
            }
        });
    </script>
{% endblock %}
