{% extends 'layout/content.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/summernote/summernote-bs4.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{asset('assets/plugins/kartik-v/bootstrap-fileinput/css/fileinput.min.css')}}">
{% endblock %}
{# Floor Plan #}
{% macro floorPlan(form) %}
    <div class="col-sm-12 TrnProjectTowerFloorPlan">
        <div class="row mt-3">
            <div class="col-sm-3 ">
                {{ form_row(form.mstRoomConfiguration) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.noOfBedRoom) }}
            </div>
            <div class="col-sm-3 ">
                {{ form_row(form.noOfBathRooms) }}
            </div>
            <div class="col-sm-3 ">
                {{ form_row(form.noOfBalcony) }}
            </div>
        </div>

        <div class="card-header mt-2 row">
            <div class="col-sm-3"><h3 class="card-title"><i><b>{{ 'Super Area'}}</b></i></h3></div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-3 ">
                {{ form_row(form.mstProjectSuperArea) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.superArea) }}
            </div>
            <div class="col-sm-3 ">
                {{ form_row(form.mstSuperAreaCurrency) }}
            </div>
            <div class="col-sm-3 ">
                {{ form_row(form.superAreaPerUnit) }}
            </div>
        </div>

        <div class="card-header mt-2 row">
            <div class="col-sm-3"><h3 class="card-title"><i><b>{{ 'Carpet Area'}}</b></i></h3></div>
        </div>


        <div class="row mt-3">
            <div class="col-sm-3 ">
                {{ form_row(form.mstProjectCarpetArea) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.carpetArea) }}
            </div>
            <div class="col-sm-3 ">
                {{ form_row(form.mstCarpetAreaCurrency) }}
            </div>
            <div class="col-sm-3 ">
                {{ form_row(form.carpetAreaPerUnit) }}
            </div>
        </div>

        <div class="card-header mt-2 row">
            <div class="col-sm-3"><h3 class="card-title"><i><b>{{ 'Agreement Details'}}</b></i></h3></div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-3 ">
                {{ form_row(form.mstCurrencyAgreementPrice) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.agreementAmount) }}
            </div>
            <div class="col-sm-3 ">
                {{ form_row(form.mstDenomination) }}
            </div>
        </div>

        <div class="card-header mt-2 row">
            <div class="col-sm-3"><h3 class="card-title"><i><b>{{ 'Floor Plan Images'}}</b></i></h3></div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3 ">
                {{ form_row(form.mstDeviceType) }}
            </div>

            <div class="col-sm-3 ">
                {{ form_row(form.mediaName) }}
            </div>
            <div class="col-sm-3 ">
                {{ form_row(form.mediaAltText) }}
            </div>
            <div class="col-sm-3 ">
                {{ form_row(form.mediaTitle) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3">
                {{ form_row(form.mediaFileName) }}
            </div>
            {% if form.vars.data is not empty %}
                <div class="col-sm-3">
                    <img src="{{ form.vars.data.mediaFilePath|imagine_filter('resize_image_200') }}" alt="{{ form.vars.data.mediaName }}">
                </div>
            {% endif %}

        </div>
        <div class="col-sm-3 removebutton mb-4"> <br>
            <button type="button" class="btn btn-danger btn-sm"><i class="fa
            fa-trash"></i> Remove Floor Plan Block</button>
        </div>

    </div>
{% endmacro %}
{# Floor Plan #}

{# Upload Image #}
{% macro projectUploadDocument(form) %}
    <div class="col-sm-12 TrnProjectUploadDocument">
        <div class="row mt-3">
            <div class="col-sm-3 imageDiv">
                {{ form_row(form.mstDeviceType) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.mstUploadDocumentType) }}
            </div>
            <div class="col-sm-3 imageDiv">
                {{ form_row(form.mediaFileName) }}
            </div>
            {% if form.vars.data is not empty %}
                <div class="col-sm-3">
                    <img src="{{ form.vars.data.mediaFilePath|imagine_filter('resize_image_200') }}" alt="{{ form.vars.data.mediaName }}">
                </div>
            {% endif %}
            <div style="display: none;" class="col-sm-3 videoDiv">
                {{ form_row(form.mediaPath) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3">
                {{ form_row(form.mediaName) }}
            </div>
            <div class="col-sm-3 imageDiv">
                {{ form_row(form.mediaAltText) }}
            </div>
            <div class="col-sm-3 imageDiv">
                {{ form_row(form.mediaTitle) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.position) }}
            </div>

        </div>
        <div class="col-sm-3 removebutton mb-4"> <br>
            <button type="button" class="btn btn-danger btn-sm"><i class="fa
            fa-trash"></i> Remove Media
                Block</button>
        </div>

    </div>
{% endmacro %}
{# Upload Image #}
{% macro projectAdditionalDetail(form) %}
    <div class="col-sm-12 TrnProjectAdditionalDetail">
        <div class="row">
            <div class="col-sm-8">
                {{ form_row(form.additionalDetail) }}
            </div>
            <div class="col-sm-4 removebutton mb-4"> <br>
                <button type="button" class="btn btn-danger btn-sm removeAdditionalDetail"><i class="fa fa-trash"></i> Remove Additional Detail Block</button>
            </div>
        </div>
    </div>
{% endmacro %}
{% import _self as formMacro %}
{% block cms_content %}
    {% set back_to_list = app.request.server.get('HTTP_REFERER') %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                {% if mode == 'add' %}<i class="fa fa-plus"></i> {% else%} <i class="fa fa-edit"></i> {% endif%}  <b>{{label_title|trans|upper}}</b>
            </h5>
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.trnProject) }}
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="projectCompany" class="required">{{ 'label.company'|trans }}</label>
                        <input type="text" id="projectCompany" name="projectCompany" class="form-control" readonly
                               {% if trnProjectTowerDetails is defined and trnProjectTowerDetails is not empty and
                                   trnProjectTowerDetails.trnProject is defined and trnProjectTowerDetails.trnProject
                              is not empty and trnProjectTowerDetails.trnProject.orgCompany is defined and
                                   trnProjectTowerDetails.trnProject.orgCompany is not empty %}
                                    value="{{ trnProjectTowerDetails.trnProject.orgCompany }}"
                               {% endif %}
                        />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="projectProductCategory" class="required">{{ 'label.product_category'|trans }}</label>
                            <input type="text" id="projectProductCategory" name="projectProductCategory" class="form-control"
                                   readonly
                                    {% if trnProjectTowerDetails is defined and trnProjectTowerDetails is not empty and
                                        trnProjectTowerDetails.trnProject is defined and trnProjectTowerDetails.trnProject
                                        is not empty and trnProjectTowerDetails.trnProject.mstProductCategory is defined and
                                        trnProjectTowerDetails.trnProject.mstProductCategory is not empty %}
                                        value="{{ trnProjectTowerDetails.trnProject.mstProductCategory }}"
                                    {% endif %}
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="projectProductType" class="required">{{ 'label.product_type'|trans }}</label>
                    <input type="text" id="projectProductType" name="projectProductType" class="form-control"
                           readonly
                            {% if trnProjectTowerDetails is defined and trnProjectTowerDetails is not empty and
                                trnProjectTowerDetails.trnProject is defined and trnProjectTowerDetails.trnProject
                                is not empty and trnProjectTowerDetails.trnProject.mstProductType is defined and
                                trnProjectTowerDetails.trnProject.mstProductType is not empty %}
                                value="{{ trnProjectTowerDetails.trnProject.mstProductType }}"
                            {% endif %}
                    />
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="projectProductSubType" class="required">{{ 'label.product_subtype'|trans }}</label>
                        <input type="text" id="projectProductSubType" name="projectProductSubType" class="form-control"
                               readonly
                                {% if trnProjectTowerDetails is defined and trnProjectTowerDetails is not empty and
                                    trnProjectTowerDetails.trnProject is defined and trnProjectTowerDetails.trnProject
                                    is not empty and trnProjectTowerDetails.trnProject.mstProductSubType is defined and
                                    trnProjectTowerDetails.trnProject.mstProductSubType is not empty %}
                                     value="{{ trnProjectTowerDetails.trnProject.mstProductSubType }}"
                                {% endif %}/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="projectBuilderName" class="required">{{ 'label.builder_name'|trans }}</label>
                        <input type="text" id="projectBuilderName" name="projectBuilderName" class="form-control"
                               readonly
                                {% if trnProjectTowerDetails is defined and trnProjectTowerDetails is not empty and
                                    trnProjectTowerDetails.trnProject is defined and trnProjectTowerDetails.trnProject
                                    is not empty and trnProjectTowerDetails.trnProject.trnVendorPartnerDetails is defined and
                                    trnProjectTowerDetails.trnProject.trnVendorPartnerDetails is not empty %}
                                    value="{{ trnProjectTowerDetails.trnProject.trnVendorPartnerDetails }}"
                                {% endif %}/>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-3">
                    {{ form_row(form.towerName) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <label for="projectCountry" class="required">{{ 'label.country'|trans }}</label>
                    <input type="text" id="projectCountry" name="projectCountry" class="form-control"
                           readonly
                            {% if trnProjectTowerDetails is defined and trnProjectTowerDetails is not empty and
                                trnProjectTowerDetails.trnProject is defined and trnProjectTowerDetails.trnProject
                                is not empty and trnProjectTowerDetails.trnProject.mstCountry is defined and
                                trnProjectTowerDetails.trnProject.mstCountry is not empty %}
                                value="{{ trnProjectTowerDetails.trnProject.mstCountry }}"
                            {% endif %}/>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="projectState" class="required">{{ 'label.state'|trans }}</label>
                        <input type="text" id="projectState" name="projectState" class="form-control"
                               readonly
                                {% if trnProjectTowerDetails is defined and trnProjectTowerDetails is not empty and
                                    trnProjectTowerDetails.trnProject is defined and trnProjectTowerDetails.trnProject
                                    is not empty and trnProjectTowerDetails.trnProject.mstState is defined and
                                    trnProjectTowerDetails.trnProject.mstState is not empty %}
                                    value="{{ trnProjectTowerDetails.trnProject.mstState }}"
                                {% endif %}/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="projectCity" class="required">{{ 'label.city'|trans }}</label>
                        <input type="text" id="projectCity" name="projectCity" class="form-control"
                               readonly
                                {% if trnProjectTowerDetails is defined and trnProjectTowerDetails is not empty and
                                    trnProjectTowerDetails.trnProject is defined and trnProjectTowerDetails.trnProject
                                    is not empty and trnProjectTowerDetails.trnProject.mstCity  is defined and
                                    trnProjectTowerDetails.trnProject.mstCity is not empty %}
                                    value="{{ trnProjectTowerDetails.trnProject.mstCity }}"
                                {% endif %}/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="projectAreaCity" class="required">{{ 'label.area_city'|trans }}</label>
                        <input type="text" id="projectAreaCity" name="projectAreaCity" class="form-control"
                               readonly
                                {% if trnProjectTowerDetails is defined and trnProjectTowerDetails is not empty and
                                    trnProjectTowerDetails.trnProject is defined and trnProjectTowerDetails.trnProject
                                    is not empty and trnProjectTowerDetails.trnProject.mstAreaInCity  is defined and
                                    trnProjectTowerDetails.trnProject.mstAreaInCity is not empty %}
                                    value="{{ trnProjectTowerDetails.trnProject.mstAreaInCity }}"
                                {% endif %}/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="projectPropertTypeNew" class="required">{{ 'label.property_type_new'|trans }}</label>
                    <input type="text" id="projectPropertTypeNew" name="projectPropertTypeNew" class="form-control"
                           readonly
                            {% if trnProjectTowerDetails is defined and trnProjectTowerDetails is not empty and
                                trnProjectTowerDetails.trnProject is defined and trnProjectTowerDetails.trnProject
                                is not empty and trnProjectTowerDetails.trnProject.mstPropertyType  is defined and
                                trnProjectTowerDetails.trnProject.mstPropertyType is not empty %}
                                value="{{ trnProjectTowerDetails.trnProject.mstPropertyType }}"
                            {% endif %}/>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="projectPropertyStatus" class="required">{{ 'label.property_type'|trans }}</label>
                        <input type="text" id="projectPropertyStatus" name="projectPropertyStatus" class="form-control"
                               readonly
                                {% if trnProjectTowerDetails is defined and trnProjectTowerDetails is not empty and
                            trnProjectTowerDetails.trnProject is defined and trnProjectTowerDetails.trnProject
                            is not empty and trnProjectTowerDetails.trnProject.mstProjectStatus  is defined and
                            trnProjectTowerDetails.trnProject.mstProjectStatus is not empty %}
                                    value="{{ trnProjectTowerDetails.trnProject.mstProjectStatus }}"
                                {% endif %}/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="projectPossessionOn" class="required">{{ 'label.possession_on'|trans }}</label>
                        <input type="text" id="projectPossessionOn" name="projectPossessionOn" class="form-control"
                               readonly
                                {% if trnProjectTowerDetails is defined and trnProjectTowerDetails is not empty and
                                    trnProjectTowerDetails.trnProject is defined and trnProjectTowerDetails.trnProject
                                    is not empty and trnProjectTowerDetails.trnProject.possessionOn  is defined and
                                    trnProjectTowerDetails.trnProject.possessionOn is not empty %}
                                    value="{{ trnProjectTowerDetails.trnProject.possessionOn }}"
                                {% endif %}/>
                    </div>
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.noOfFloors) }}
                </div>

            </div>


            <div class="card-header mt-2 row">
                <div class="col-sm-3"><h3 class="card-title"><b>{{ 'Floor Plan'|upper }}</b></h3></div>
                <div class="col-sm-3  ml-3">
                    <button type="button" id="addFloorPlans" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> Add
                        Floor Plan</button>
                </div>
            </div>

            <div class="row recurringDetails" data-prototype="{{ formMacro.floorPlan(form
                .trnProjectTowerFloorPlans
                .vars.prototype)|e('html_attr') }}">
                <div class="col" id="floorPlanContent" >
                    {% for row in form.trnProjectTowerFloorPlans %}
                        {{ formMacro.floorPlan(row) }}
                    {% endfor %}
                </div>
            </div>


            <div class="card-header mt-2 row">
                <div class="col-sm-3"><h3 class="card-title">{{ 'Others'|upper }}</h3></div>
            </div>


            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.mstTowerAmenities) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.mstTowerFeature) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.mstTowerHighlights) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.mstTowerRating) }}
                </div>
            </div>

            <div class="card-header mt-2 row">
                <div class="col-sm-3"><h3 class="card-title">{{ 'Upload Media'|upper }}</h3></div>
            </div>

            <div class="row recurringDetails" data-prototype="{{ formMacro.projectUploadDocument(form
                .trnUploadDocuments
                .vars.prototype)|e('html_attr') }}">
                <div class="col" id="uploadDocumentContent" >
                    {% for row in form.trnUploadDocuments %}
                        {{ formMacro.projectUploadDocument(row) }}
                    {% endfor %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3  ml-3">
                    <button type="button" id="addUploadMedia" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> Add
                        Media</button>
                </div>
            </div>
            <div class="card-header mt-2 row">
                <div class="col-sm-3"><h3 class="card-title">{{ 'Add Additional Details'|upper }}</h3></div>
            </div>

            <div class="row recurringAdditionalDetails" data-prototype="{{ formMacro.projectAdditionalDetail(form.trnProjectTowerAdditionalDetails.vars.prototype)|e('html_attr') }}">
                <div class="col" id="additionalDetailContent" >
                    {% for row in form.trnProjectTowerAdditionalDetails %}
                        {{ formMacro.projectAdditionalDetail(row) }}
                    {% endfor %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3  ml-3"><button type="button" id="addAdditionalDetail" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> Add Additional Detail</button></div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.isActive) }}
                </div>
            </div>
        </div>

    </div>

    <div class="card-footer">
        <button type="submit" class="{{ button_css|default("btn btn-dark btn-sm") }}">
            <i class="fa fa-save" aria-hidden="true"></i> {{ label_button|trans }}
        </button>
        <a href="{{ back_to_list }}" class="btn btn-link"><i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}</a>
    </div>
    {{ form_end(form) }}
    <br>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/plugins/kartik-v/bootstrap-fileinput/js/fileinput.min.js')}}"></script>
    <script src="{{asset('assets/plugins/kartik-v/bootstrap-fileinput/themes/fa/theme.min.js')}}"></script>
    <script src="{{ asset('assets/plugins/summernote/summernote-bs4.min.js') }}" type="text/javascript"></script>

    <script>
        var trn_circle_appUser = '';
        $(function () {
            // Summernote
            $(".textarea").summernote({
                height: 200,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link']],
                    ['view', ['fullscreen', 'codeview', 'help']],
                ]
            });

            $floorPlanContent = jQuery('#floorPlanContent').parent();
            $floorPlanContent.data('index', jQuery('#floorPlanContent').find('.TrnProjectTowerFloorPlan').length);

            jQuery(document).on('click', '.btn-danger', function (e) {
                jQuery(this).closest(".TrnProjectTowerFloorPlan").remove();
            });

            jQuery("#addFloorPlans").on('click', function (e) {
                addFloorPlan($floorPlanContent);
            });

            function addFloorPlan($floorPlanContent) {
                console.log(1345);
                // Get the data-prototype explained earlier
                var prototype = $floorPlanContent.data('prototype');

                // get the new index
                var index = $floorPlanContent.data('index');
                var newForm = prototype;
                newForm = newForm.replace(/__name__/g, index);
                newForm = newForm.replace(/__index__/g, index);
                newForm = newForm.replace(/imageDiv/g, 'imageDiv'+index);
                newForm = newForm.replace(/videoDiv/g, 'videoDiv'+index);

                // increase the index with one for the next item
                $floorPlanContent.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                jQuery('#floorPlanContent').append(newForm);

                $('select').select2({
                    theme: 'bootstrap4'
                });

                // Content Image Upload
                $('label[for=trn_project_tower_details_trnProjectTowerFloorPlans_'+index+'_mediaFileName]').remove();
                $("#trn_project_tower_details_trnProjectTowerFloorPlans_"+index+"_mediaFileName").fileinput({
                    theme: "fa",
                    overwriteInitial: true,
                    maxFileSize: 800,
                    showClose: false,
                    showCaption: false,
                    showBrowse: false,
                    browseOnZoneClick: true,
                    removeLabel: '',
                    defaultPreviewContent: '<h6 class="text-muted">Click to upload image</h6>',
                    layoutTemplates: {main2: '{preview} {remove} {browse}'},
                    allowedFileExtensions: ["jpg","jpeg", "png"]
                });

                // Copy the intro text to alt and title
                $("#trn_project_tower_details_trnProjectTowerFloorPlans_"+index+"_mediaName").keyup(function(){
                    var Text = $(this).val();
                    $("#trn_project_tower_details_trnProjectTowerFloorPlans_"+index+"_mediaAltText").val(Text);
                    $("#trn_project_tower_details_trnProjectTowerFloorPlans_"+index+"_mediaTitle").val(Text);
                });
            }

            //////////////////////////////////// Upload Documents /////////////////////////////////////////////////

            $uploadDocumentContent = jQuery('#uploadDocumentContent').parent();
            $uploadDocumentContent.data('index', jQuery('#uploadDocumentContent').find('.TrnProjectUploadDocument').length);

            $additionalDetailContent = jQuery('#additionalDetailContent').parent();
            $additionalDetailContent.data('index', jQuery('#additionalDetailContent').find('.TrnProjectAdditionalDetail').length);

            jQuery(document).on('click', '.btn-danger', function (e) {
                jQuery(this).closest(".TrnProjectUploadDocument").remove();
            });

            jQuery("#addUploadMedia").on('click', function (e) {
                addRowContentFormSubEvent($uploadDocumentContent);
            });

            jQuery(document).on('click', '.removeAdditionalDetail', function (e) {
                jQuery(this).closest(".TrnProjectAdditionalDetail").remove();
            });

            jQuery("#addAdditionalDetail").on('click', function (e) {
                addRowContentFormSubEventDetails($additionalDetailContent);
            });

            function addRowContentFormSubEvent($uploadDocumentContent) {
                console.log(1345);
                // Get the data-prototype explained earlier
                var prototype = $uploadDocumentContent.data('prototype');

                // get the new index
                var index = $uploadDocumentContent.data('index');
                var newForm = prototype;
                newForm = newForm.replace(/__name__/g, index);
                newForm = newForm.replace(/__index__/g, index);
                newForm = newForm.replace(/imageDiv/g, 'imageDiv'+index);
                newForm = newForm.replace(/videoDiv/g, 'videoDiv'+index);

                // increase the index with one for the next item
                $uploadDocumentContent.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                jQuery('#uploadDocumentContent').append(newForm);
                $("#trn_project_tower_details_trnUploadDocuments_"+index+"_position").val(index);
                // Content Image Upload
                $('label[for=trn_project_tower_details_trnUploadDocuments_'+index+'_mediaFileName]').remove();
                $("#trn_project_tower_details_trnUploadDocuments_"+index+"_mediaFileName").fileinput({
                    theme: "fa",
                    overwriteInitial: true,
                    maxFileSize: 800,
                    showClose: false,
                    showCaption: false,
                    showBrowse: false,
                    browseOnZoneClick: true,
                    removeLabel: '',
                    defaultPreviewContent: '<h6 class="text-muted">Click to upload image</h6>',
                    layoutTemplates: {main2: '{preview} {remove} {browse}'},
                    allowedFileExtensions: ["jpg","jpeg", "png"]
                });

                $('select').select2({
                    theme: 'bootstrap4'
                })



                // Copy the intro text to alt and title
                $("#trn_project_tower_details_trnUploadDocuments_"+index+"_mediaName").keyup(function(){
                    var Text = $(this).val();
                    $("#trn_project_tower_details_trnUploadDocuments_"+index+"_mediaAltText").val(Text);
                    $("#trn_project_tower_details_trnUploadDocuments_"+index+"_mediaTitle").val(Text);
                });
            }

            function addRowContentFormSubEventDetails($ContentObj) {
                // Get the data-prototype explained earlier
                var prototype = $ContentObj.data('prototype');

                // get the new index
                var index = $ContentObj.data('index');
                var newForm = prototype;
                newForm = newForm.replace(/__name__/g, index);
                // newForm = newForm.replace(/__index__/g, index);
                // newForm = newForm.replace(/imageDiv/g, 'imageDiv'+index);
                // newForm = newForm.replace(/videoDiv/g, 'videoDiv'+index);

                // increase the index with one for the next item
                $ContentObj.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                jQuery('#additionalDetailContent').append(newForm);
                $(".textarea").summernote({
                    height: 200,
                    toolbar: [
                        // [groupName, [list of button]]
                        ['style', ['bold', 'italic', 'underline']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['table', ['table']],
                        ['insert', ['link']],
                        ['view', ['fullscreen', 'codeview', 'help']],
                    ]
                });
            }

            jQuery(document).on('change', ".uploadDocumentType", function(e) {
                var index = jQuery(this).attr('index');
                jQuery('.imageDiv'+index).hide();
                jQuery('.videoDiv'+index).hide();
                switch(jQuery(this).find("option:selected").text().toLowerCase()) {
                    case 'image':
                    case 'pdf':{
                        jQuery('.imageDiv'+index).show();
                        break;
                    }
                    case 'video':{
                        jQuery('.videoDiv'+index).show();
                        break;
                    }
                }
            });

            $('label[for=trn_project_ogImage]').remove();
            $("#trn_project_ogImage").fileinput({
                theme: "fa",
                overwriteInitial: true,
                maxFileSize: 3000,
                showClose: false,
                showCaption: false,
                showBrowse: false,
                browseOnZoneClick: true,
                removeLabel: '',
                defaultPreviewContent: '<h6 class="text-muted">Click to upload social share image</h6>',
                layoutTemplates: {main2: '{preview} {remove} {browse}'},
                allowedFileExtensions: ["jpg", "png"]
            });

            jQuery(document).on('change', "#trn_project_tower_details_trnProject", function(e) {
                var data = {};
                data['q'] = jQuery(this).val();
                if(jQuery(this).val() == '' ) {
                    //Reset all the data
                }

                var oThis = this;
                jQuery.ajax({
                    url: "/core/project/get_details",
                    data: data,
                    type: "GET",
                    dataType: "JSON",
                    success: function (data) {
                        $.each(data, function (id, name) {
                            $("#projectCompany").val(name.company);
                            $("#projectProductCategory").val(name.productCategory);
                            $("#projectProductType").val(name.productType);
                            $("#projectProductSubType").val(name.productSubType);
                            $("#projectBuilderName").val(name.vendorPartnerName);
                            $("#projectCountry").val(name.country);
                            $("#projectState").val(name.state);
                            $("#projectCity").val(name.city);
                            $("#projectAreaCity").val(name.area);
                            $("#projectPropertyStatus").val(name.projectStatus);
                            $("#projectPropertTypeNew").val(name.propertyType);
                            $("#projectPossessionOn").val(name.possessionOn);
                        });
                    }
                });
            });

        });
    </script>
{% endblock %}
