{{ form_start(form,{'attr':{"class":"form","id":"frmEnquiry"}}) }}
<h3>We Design Your Imagination</h3>
<p>To avail personalized interior design consultation please share your details.</p>
    <span class="mendatory-field">* All fields are mandatory</span>
    <!-- Show Flash Messages -->
    {% block cms_messages %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message|trans}}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
    {# End Flash message section #}
    {{ form_row(form.firstName) }}
    {{ form_row(form.enquiryEmailAddress) }}
    <div class="row row-xs">
        <div class="col-md-3">
            {{ form_row(form.mstCountry) }}
        </div>
        <div class="col-md-9">
            {{ form_row(form.enquiryMobileNumber) }}
        </div>
    </div>
    {{ form_row(form.isMeetingSchduleWithTredExpert) }}
{#    {{ form_row(form.mstCity) }}#}
{#    {{ form_row(form.enquiryMovingFrom) }}#}
{#    {{ form_row(form.enquiryMovingTo) }}#}
{#    {{ form_row(form.enquiryShiftingType) }}#}
{#    <div class="form-group">#}
{#        <div class="row">#}
{#            <div class="col-md-6 col-sm-6">#}
{#                <label class="captha-code" id="captha-code">2 + 5 =</label>#}
{#            </div>#}
{#            <div class="col-md-6 col-sm-6">#}
{#                <label for="captcha" class="">Verify Captcha</label>#}
{#                <input type="text" id="captcha"  required="required" class="form-control">#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <button type="submit" class="btn-primary">Send Request</button>#}
<div class="w-100"></div>
<div class="form-group">
    <button type="submit" class="btn-primary">Get Experts Advice Now</button>
</div>
<p class="terms">By Procedding you agree to our <span class="terms"><a href="#">Terms &amp; Conditions.</a></span></p>
{{ form_end(form) }}
