<div class="card-header mt-2">
    <h3 class="card-title">{{ 'SEO Section'|upper }}</h3>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-sm-4">
            {{ form_row(form.seoContent.metaTitle) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.seoContent.metaKeyword) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.seoContent.metaDescription) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            {{ form_row(form.seoContent.focusKeyPhrase) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.seoContent.keyPhraseSynonyms) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.seoContent.canonicalUrl) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.seoContent.seoSchema) }}
        </div>
    </div>
</div>
<div class="card-header mt-2">
    <h3 class="card-title">{{ 'Social Share Section'|upper }}</h3>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-sm-4">
            {{ form_row(form.seoContent.ogTitle) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.seoContent.ogDescription) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.seoContent.ogType) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            {{ form_row(form.seoContent.ogImageWidth) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.seoContent.ogImage) }}
        </div>
        {% if form.vars.value.seoContent is not null and form.vars.value.seoContent.ogImage is not empty %}
            <div class="col-sm-4">
                <img src="{{ form.vars.value.seoContent.ogImagePath|imagine_filter('resize_image_100') }}" alt="{{ form.vars.value.seoContent.ogImage }}">
            </div>
        {% endif %}
    </div>
</div>