{% extends 'layout/content.html.twig' %}
{% block cms_content %}
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><a href="{{ path(path_add) }}/?company_id={{ app.request.get('company_id') }}" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> {{label_title|trans}}</a></h4>
                </div>
                <nav class="card-content collapse show">
                    <div class="card-body card-dashboard ">
                        <table id="dataTable" class="table table-responsive-md table-sm text-sm">
                            <thead>
                            <tr>
                                <th>{{ 'label.id'|trans|upper }}</th>
                                <th>{{ 'label.username'|trans|upper }}</th>
                                <th>{{ 'label.email'|trans|upper }}</th>
                                <th>{{ 'label.name'|trans|upper }}</th>
                                <th>{{ 'label.mobile'|trans|upper }}</th>
                                <th>{{ 'label.office'|trans|upper }}</th>
                                <th>{{ 'label.is_active'|trans|upper }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for org_company_user in org_company_users %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ org_company_user.userName }}</td>
                                    <td>{{ org_company_user.appUserInfo.userEmail }}</td>
                                    <td>{{ org_company_user.appUserInfo.userFirstName|default('') }} {{ org_company_user.appUserInfo.userMiddleName|default('') }} {{ org_company_user.appUserInfo.userLastName|default('') }}</td>
                                    <td>{{ org_company_user.appUserInfo.userMobile|default('') }}</td>
                                    <td>{{ org_company_user.appUserInfo.orgCompanyOffice }}</td>
                                    <td>{{ org_company_user.isActive ? 'Yes' : 'No' }}</td>
                                    <td>
                                    <div class="btn-group-toggle" role="group" aria-label="Action Buttons">
                                        <a href="{{ path(path_show, {'id': org_company_user.id}) }}/?company_id={{ app.request.get('company_id') }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-expand"></i></button></a>&nbsp;
                                        <a href="{{ path(path_edit, {'id': org_company_user.id}) }}/?company_id={{ app.request.get('company_id') }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i></button></a>&nbsp;
                                    </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8">{{'info.no_record_found'|trans}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="text-muted">{{ 'info.total_records'|trans }} {{ org_company_users.getTotalItemCount }}</div>
                            </div>
                            <div class="col-sm-7">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        {{ knp_pagination_render(org_company_users) }}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
